body {
  margin: 0;
  background-color: #FFDA2B;
}
.glass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
Position: absolute; 
margin-top: 470px;
transform: translateY(-450px);
margin-left: 50px;
padding: 30px;

}
.ul li a {
 font-size: 20px;
 text-decoration: none;
 color: black;
}
ul li {list-style: none;}
h3 {font-size: 30px;}

.me {
  width: 200px;
}
@media only screen and (min-width: 768px) {
 body {
  margin: 0;

  background-color: #7FC7BB;
}
.glass {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
Position: absolute; 
margin-top: 470px;
transform: translateY(-450px);
margin-left: 200px;
padding: 50px;

}
.ul li a {
 font-size: 40px;
 text-decoration: none;
 color: black;
 margin-left: 90px;
}
ul li {list-style: none;}
h3 {font-size: 55px;
 margin-left: 90px;
}

.me {
  width: 500px;
}
#B {
padding-top: 1000px;
padding-bottom: 50000px;
}
}